.menu-toggle .menu-icon {
    width: 2rem;
}

.menu-items {
    transition: right 1s linear;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

#menu-toggler {
    display: none;
}

#menu-toggler:checked+.menu-items {
    right: 0;

}

/* header end */
/* body */
body{
    background-image: url(../images/image/circles.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 40%;
    background-repeat: no-repeat;
    
}

/* footer */



 footer .top .first p{
    width: 408px;
  


} 
 footer .bottom-footer .top{
    width: 40%;
 }

 footer .bottom-footer .top .top-left{
    width: 90%;
 }
 

footer .top-left p a{
    text-decoration: underline;
}


footer .top-footer .subscription-form input{
    width: 80%;
    max-width: 37.5rem;
    border: none;
    outline: none;
    
}

/* footer end */

/* hero section */

.hero-section .left{
   width: 50%;
} 

.vector-1 {
    
  
   translate: -40% -40%;
}


.vector-2 {
  
  
   translate: 40% -40%;
   
}

.vector-3 {
  
   translate: 55%;
}
.hero-section .dish{
    max-width: 60%;
    translate: -60% -1rem;

}
.hero-section .delicies{
    translate: -40% -150%;
}
/* hero section end */
/* dish */
 .dishes .top h2{
   max-width: 480px;
 
}

.dishes .top p{
    max-width: 376px;
    text-align: center;
 
} 
.dishes .dish-vector1{
    translate: 50% 20%;
    max-width: 60%;
}
.dishes .dish-vector2{
    translate: -90% 15%;
    max-width: 60%;
}

.dishes .bottom .card{
    max-width: 265px;
    border: 2px solid white;
    background-color: var(--bg-light-white);
    border-top-left-radius: 30px;
   
    border-bottom-right-radius: 30px;
    align-items: center;
    transition: transform 0.3s ease;
    
                   
}
.dishes .card:hover{
   transform: scale(1.1);
    background-color: var(--bg-white);
}
.dishes .dish-img{
    margin-top: -103px;
  
    
   
}
 .dishes .dish-vector3{
    translate: 55% 35%;
    max-width: 60%;
} 
.dishes .dish-vector4{
    translate: 20% 35%;
    max-width: 100%;
}
.dishes .dish-vector5{
    translate: 140% 50%;
    max-width: 100%;
}
.dishes .price{
    width: 54px;
    aspect-ratio: 1/1;
    background-color: var(--text-dark);
    border-radius: 50%;
    translate: 10% -100%;
  
   
}

.welcome .left{
    max-width: 50%;
}
.welcome .left img{
    max-width: 100%;
    margin-top: -90px;
}

.welcome .right{
    max-width: 60%;
}
.welcome .w-vector{
    translate: 10% -45%;
    max-width: 60%;
}
.welcome .w-vector2{
    translate: 55% 8%;
    max-width: 60%;
}
.welcome .w-vector3{
    translate: 2% 10%;
    max-width: 60%;
}
.welcome p  {
    max-width: 376px;
}

.welcome .card p{
    max-width: 225px;
}

.chef .right{
    width: 40%;
}
.chef .right img{
  width: 507px;
}
.chef .left{
    width: 60%;
    
}
.chef .left p{
    max-width: 376px;
}
.chef .chef-vector1{
    translate: -260% 150px;

}
.chef .chef-vector2{
    translate: -30% 40px;

}
.chef li a{
    font-family: var(--secondary-font-family);
    line-height: 1.3125rem;
    color: var(--text-gray);
}
.chef-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0.625rem; 
    padding: 0;
   
  
}

.chef-item {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding-bottom: 2.0625rem;
}

.chef-item img {
  max-height: 1.25rem;
}

.testmonial .top img{
    max-width: 45%;
    translate: -110px -14px;
}
.testmonial .top p{
    max-width: 376px;
    margin: auto;
}
.testmonial .top h2{
    max-width: 645px;
    margin: auto;
}
.testmonial .card{
    max-width: 639px;
    translate: 40% 68px;
    background-color: var(--bg-white);
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 50px;
    align-items: center;
}
.testmonial .card p:first-of-type{
   max-width: 383px;
  
}
.testmonial .card .person-img{
  max-width: 109px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-top: -50px;
}